body, html {
    height: 100%;
    background-color: #1a1a1a; /* Dark background */
    color: #fff; /* White text color */
    font-family: 'Arial', sans-serif; /* Arial font for a modern look */
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navbar {
    background-color: #333; /* Darker background for navbar */
}

.jumbotron {
    background-color: #333; /* Darker background for jumbotron */
    color: #fff;
    padding: 2rem 1rem;
    margin-bottom: 0; /* Remove margin to collapse with the word stream */
}

.game-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wordStream {
    background-color: #262626; /* Slightly lighter dark background for the word stream */
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    display: inline-block; /* Center the word stream block */
}

.word {
    display: inline-block;
    margin-right: 10px;
}

.highlight {
    background-color: #4CAF50; /* Highlight color */
    border-radius: 4px;
    padding: 3px 6px;
}

#wordInput {
    border: 2px solid #4CAF50; /* Border color */
    background-color: #333;
    color: #fff;
    font-size: 1.25rem;
    margin-bottom: 20px;
    width: 50%; /* Set a fixed width */
    text-align: center;
}

.footer {
    background-color: #333; /* Darker background for footer */
    color: #fff;
    padding: 1rem 0;
}

/* Add styles for the timer and control buttons if necessary */
.timer {
    color: #4CAF50; /* Timer color */
}
/* 
.controls {
}
*/
.correct {
    color: green;
}

.incorrect {
    color: red;
}
